pkgbase = canvasforge-beta
	pkgdesc = Beta PyQt6 canvas utility for remixing screenshots, UI snippets, and vector assets
	pkgver = 0.6.0_beta1
	pkgrel = 1
	url = https://github.com/lukejmorrison/canvasforge
	arch = any
	license = MIT
	depends = python
	depends = python-pyqt6
	provides = canvasforge
	conflicts = canvasforge
	options = !debug
	source = canvasforge-0.6.0-beta.1.tar.gz::https://github.com/lukejmorrison/canvasforge/releases/download/v0.6.0-beta.1/canvasforge-0.6.0-beta.1.tar.gz
	sha256sums = 29e4513074271723d043aae4abb0ef959beb787da90cc3474fc435dc3a352ac8

pkgname = canvasforge-beta
