pkgbase = canvasforge-beta
	pkgdesc = Beta PyQt6 canvas utility for remixing screenshots, UI snippets, and vector assets
	pkgver = 0.6.0_beta11
	pkgrel = 1
	url = https://github.com/lukejmorrison/canvasforge
	arch = any
	license = MIT
	depends = python
	depends = python-pyqt6
	provides = canvasforge
	conflicts = canvasforge
	options = !debug
	source = canvasforge-0.6.0-beta.11.tar.gz::https://github.com/lukejmorrison/canvasforge/releases/download/v0.6.0-beta.11/canvasforge-0.6.0-beta.11.tar.gz
	sha256sums = 82c76c3b27ddfff3d8cf46b5e0b5154aa3b14417c2a0d80521143f2f7415452b

pkgname = canvasforge-beta
