pkgbase = canvasforge-beta
	pkgdesc = Beta PyQt6 canvas utility for remixing screenshots, UI snippets, and vector assets
	pkgver = 0.6.0_beta1
	pkgrel = 1
	url = https://github.com/lukejmorrison/canvasforge
	arch = any
	license = MIT
	depends = python
	depends = python-pyqt6
	provides = canvasforge
	conflicts = canvasforge
	options = !debug
	source = canvasforge-0.6.0-beta.1.tar.gz::https://github.com/lukejmorrison/canvasforge/releases/download/v0.6.0-beta.1/canvasforge-0.6.0-beta.1.tar.gz
	sha256sums = e97afb0234ff4f203d85905d6e5b95223c4ee63c59cb46bf2452f56a02720d73

pkgname = canvasforge-beta
